/**background-colors**/
$primary: #10504F;
$secondary: #000000;
$light: #ffffff;

/*****borders******/
$border-radius: 0;

/********fonts*******/
$font-family-sans-serif: 'Lato', sans-serif;

$font-family-decorative: 'Pacifico', cursive;